body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-color: #ffffff;
}

.navbar {
    background-color: #000000;
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbarItems {
    display: flex;
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    height: 100%;
}

.navbarItemsRight {
    margin-left: auto;
}

.navbarlogo a:hover {
    color: hsl(216, 100%, 61%);
    border-radius: 2px;
}

.navbarItems a:hover {
    color: hsl(216, 100%, 61%);
    border: 2px solid hsl(216, 100%, 61%);
    border-radius: 2px;
}

.navbar .logo {
    height: 60px;
    width: auto;
}

.adminbuttons {
    display: flex;
    align-items: center;
}

#adminpage {
    padding-right: 1rem;
    padding-left: 1rem;
}

#adbutton1 {
    padding: 5px 10px;
    background-color: #9c9c9c;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

#adbutton2 {
    padding: 5px 10px;
    background-color: #9c9c9c;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

#adbutton3 {
    padding: 5px 10px;
    background-color: #9c9c9c;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

#adbutton4 {
    padding: 5px 10px;
    background-color: #9c9c9c;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.purchase-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.purchase-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.purchase-item img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.purchase-item p {
    margin: 5px 0;
}

hr {
    color: #000000;
    background-color: #aaaaaa;
    height: 2px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
}